#ball{
    position: absolute;
    top: 2em;
    left:50%;
    margin-left: -2em;
    margin-right: auto;
    
}
.col-sm{
    position: relative;
    margin: 1em auto;
    background-color: #abd1c6;
    height: 25em;
    width: 25em;
    border-bottom: 19px solid #222222;
}

  